*{
	box-sizing: border-box;
	margin: 0;
}

body 
{
	margin: 0;
	padding: 0;
}

#logo{
	 
	 padding: 0px 500px;
	 margin-bottom: 50px;
}

#spine { 
   background-color: #222a35;
   background-size: 100%;
   background-position: top;
   height: 300px;
   padding: 20px;

}
#pop{

}
